.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;
  border: 2px solid black;
}

.img-wrapper {
  max-width: 1440px;
  height: 200px;
  border: 1px dashed purple;
  display: flex;
  margin-inline: auto;
  padding-inline: 2rem;
}

img {
  width: 1440px;
}